In [1]:
import numpy as np
import pandas as pd

In [2]:
reclamacoes = pd.read_excel('/content/drive/MyDrive/tests/reclamacoes.xlsx')

In [5]:
reclamacoes.head(15)

    dia  velocidade  conexao  instabilidade
0     1          43       15             34
1     2          45       21             29
2     3          46       17             26
3     4          49       14             23
4     5          52       20             25
5     6          55       18             22
6     7          63       17             19
7     8          59       21             20
8     9          58       23             14
9    10          60       16             12
10   11          62       20             15
11   12          66       18             11
12   13          63       15              9
13   14          71       17              9
14   15          73       21              8

In [4]:
reclamacoes.shape

(15, 4)

**Objetivo: Analisar reclamações em uma nova empresa de internet**

In [6]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
modelo1 = smf.poisson("velocidade ~ dia", data=reclamacoes).fit()

Optimization terminated successfully.
         Current function value: 3.003118
         Iterations 4

In [8]:
print(modelo1.summary())

                          Poisson Regression Results
==============================================================================
Dep. Variable:             velocidade   No. Observations:                   15
Model:                        Poisson   Df Residuals:                       13
Method:                           MLE   Df Model:                            1
Date:                Sun, 30 May 2021   Pseudo R-squ.:                  0.1745
Time:                        15:39:44   Log-Likelihood:                -45.047
converged:                       True   LL-Null:                       -54.572
Covariance Type:            nonrobust   LLR p-value:                 1.273e-05
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.7679      0.076     49.297      0.000       3.618       3.918
dia            0.0345      0.008      4.350      0.000       0.019       0.050
==============================================================================

**Equação: reclamação_veloc = e^(3.7679+0.0345.dia)**

In [9]:
modelo1.predict(reclamacoes.dia)

0     44.807363
1     46.378509
2     48.004746
3     49.688006
4     51.430289
5     53.233664
6     55.100273
7     57.032334
8     59.032141
9     61.102071
10    63.244582
11    65.462218
12    67.757615
13    70.133499
14    72.592692
dtype: float64

In [10]:
reclamacoes['previsao_veloc'] = modelo1.predict(reclamacoes.dia)

In [11]:
reclamacoes.head(14)

    dia  velocidade  conexao  instabilidade  previsao_veloc
0     1          43       15             34       44.807363
1     2          45       21             29       46.378509
2     3          46       17             26       48.004746
3     4          49       14             23       49.688006
4     5          52       20             25       51.430289
5     6          55       18             22       53.233664
6     7          63       17             19       55.100273
7     8          59       21             20       57.032334
8     9          58       23             14       59.032141
9    10          60       16             12       61.102071
10   11          62       20             15       63.244582
11   12          66       18             11       65.462218
12   13          63       15              9       67.757615
13   14          71       17              9       70.133499

In [12]:
modelo1.aic

94.09352707843601

In [13]:
modelo2 = smf.poisson("instabilidade ~ dia", data=reclamacoes).fit()

Optimization terminated successfully.
         Current function value: 2.408169
         Iterations 5

In [14]:
print(modelo2.summary())

                          Poisson Regression Results
==============================================================================
Dep. Variable:          instabilidade   No. Observations:                   15
Model:                        Poisson   Df Residuals:                       13
Method:                           MLE   Df Model:                            1
Date:                Sun, 30 May 2021   Pseudo R-squ.:                  0.3963
Time:                        15:44:29   Log-Likelihood:                -36.123
converged:                       True   LL-Null:                       -59.836
Covariance Type:            nonrobust   LLR p-value:                 5.709e-12
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.6116      0.109     32.986      0.000       3.397       3.826
dia           -0.0985      0.015     -6.706      0.000      -0.127      -0.070
==============================================================================

**Equação: reclamação_insta = e^(3.6116-0.0985.dia)**

In [15]:
modelo2.predict(reclamacoes.dia)

0     33.551308
1     30.403004
2     27.550122
3     24.964942
4     22.622344
5     20.499565
6     18.575977
7     16.832891
8     15.253368
9     13.822060
10    12.525060
11    11.349765
12    10.284754
13     9.319678
14     8.445162
dtype: float64

In [16]:
reclamacoes['previsao_insta'] = modelo2.predict(reclamacoes.dia)

In [17]:
reclamacoes.head(14)

    dia  velocidade  conexao  instabilidade  previsao_veloc  previsao_insta
0     1          43       15             34       44.807363       33.551308
1     2          45       21             29       46.378509       30.403004
2     3          46       17             26       48.004746       27.550122
3     4          49       14             23       49.688006       24.964942
4     5          52       20             25       51.430289       22.622344
5     6          55       18             22       53.233664       20.499565
6     7          63       17             19       55.100273       18.575977
7     8          59       21             20       57.032334       16.832891
8     9          58       23             14       59.032141       15.253368
9    10          60       16             12       61.102071       13.822060
10   11          62       20             15       63.244582       12.525060
11   12          66       18             11       65.462218       11.349765
12   13          63       15              9       67.757615       10.284754
13   14          71       17              9       70.133499        9.319678

In [18]:
modelo2.aic

76.24506367038431

In [19]:
modelo3 = smf.poisson("conexao ~ dia", data=reclamacoes).fit()

Optimization terminated successfully.
         Current function value: 2.548776
         Iterations 4

In [20]:
print(modelo3.summary())

                          Poisson Regression Results
==============================================================================
Dep. Variable:                conexao   No. Observations:                   15
Model:                        Poisson   Df Residuals:                       13
Method:                           MLE   Df Model:                            1
Date:                Sun, 30 May 2021   Pseudo R-squ.:                0.001732
Time:                        15:48:03   Log-Likelihood:                -38.232
converged:                       True   LL-Null:                       -38.298
Covariance Type:            nonrobust   LLR p-value:                    0.7157
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.8604      0.129     22.250      0.000       2.608       3.112
dia            0.0051      0.014      0.364      0.716      -0.022       0.033
==============================================================================

**Equação: reclamação_conexão = e^(2.8604+0.0051.dia)**

In [21]:
modelo3.predict(reclamacoes.dia)

0     17.557142
1     17.646957
2     17.737231
3     17.827968
4     17.919168
5     18.010835
6     18.102971
7     18.195578
8     18.288659
9     18.382216
10    18.476252
11    18.570769
12    18.665769
13    18.761255
14    18.857230
dtype: float64

In [22]:
reclamacoes['previsao_conexao'] = modelo3.predict(reclamacoes.dia)

In [23]:
reclamacoes.head(14)

    dia  velocidade  conexao  ...  previsao_veloc  previsao_insta  previsao_conexao
0     1          43       15  ...       44.807363       33.551308         17.557142
1     2          45       21  ...       46.378509       30.403004         17.646957
2     3          46       17  ...       48.004746       27.550122         17.737231
3     4          49       14  ...       49.688006       24.964942         17.827968
4     5          52       20  ...       51.430289       22.622344         17.919168
5     6          55       18  ...       53.233664       20.499565         18.010835
6     7          63       17  ...       55.100273       18.575977         18.102971
7     8          59       21  ...       57.032334       16.832891         18.195578
8     9          58       23  ...       59.032141       15.253368         18.288659
9    10          60       16  ...       61.102071       13.822060         18.382216
10   11          62       20  ...       63.244582       12.525060         18.476252
11   12          66       18  ...       65.462218       11.349765         18.570769
12   13          63       15  ...       67.757615       10.284754         18.665769
13   14          71       17  ...       70.133499        9.319678         18.761255

[14 rows x 7 columns]

In [24]:
modelo3.aic

80.46327008100528

In [25]:
modelo4 = smf.poisson("velocidade ~ dia + instabilidade", data=reclamacoes).fit()

Optimization terminated successfully.
         Current function value: 3.003105
         Iterations 5

In [26]:
print(modelo4.summary())

                          Poisson Regression Results
==============================================================================
Dep. Variable:             velocidade   No. Observations:                   15
Model:                        Poisson   Df Residuals:                       12
Method:                           MLE   Df Model:                            2
Date:                Sun, 30 May 2021   Pseudo R-squ.:                  0.1745
Time:                        15:51:32   Log-Likelihood:                -45.047
converged:                       True   LL-Null:                       -54.572
Covariance Type:            nonrobust   LLR p-value:                 7.298e-05
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         3.7560      0.627      5.989      0.000       2.527       4.985
dia               0.0351      0.034      1.024      0.306      -0.032       0.102
instabilidade     0.0004      0.019      0.019      0.985      -0.038       0.038
=================================================================================

**Equação: reclamação_veloc = e^(3.7560+0.0351.dia+0.0004.instabilidade)**

In [27]:
modelo4.predict()

array([44.86608238, 46.3831428 , 47.98691457, 49.64613932, 51.4576226 ,
       53.23685267, 55.07760248, 57.06619903, 58.97400919, 61.03565706,
       63.28607712, 65.4501302 , 67.73817409, 70.1579821 , 72.63741438])

In [28]:
reclamacoes['previsao_veloc2'] = modelo4.predict()

In [29]:
reclamacoes.head(14)

    dia  velocidade  conexao  ...  previsao_insta  previsao_conexao  previsao_veloc2
0     1          43       15  ...       33.551308         17.557142        44.866082
1     2          45       21  ...       30.403004         17.646957        46.383143
2     3          46       17  ...       27.550122         17.737231        47.986915
3     4          49       14  ...       24.964942         17.827968        49.646139
4     5          52       20  ...       22.622344         17.919168        51.457623
5     6          55       18  ...       20.499565         18.010835        53.236853
6     7          63       17  ...       18.575977         18.102971        55.077602
7     8          59       21  ...       16.832891         18.195578        57.066199
8     9          58       23  ...       15.253368         18.288659        58.974009
9    10          60       16  ...       13.822060         18.382216        61.035657
10   11          62       20  ...       12.525060         18.476252        63.286077
11   12          66       18  ...       11.349765         18.570769        65.450130
12   13          63       15  ...       10.284754         18.665769        67.738174
13   14          71       17  ...        9.319678         18.761255        70.157982

[14 rows x 8 columns]

In [30]:
modelo4.aic

96.09316303655228

In [31]:
modelo1.aic

94.09352707843601